*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
}

main{
	width: 500px;
	margin: 50px auto;
}

ul{
	list-style: none;
}

ul li {
	height: 45px;
	background: #F9F9F9;
	padding-left: 35px;
    padding-top: 10px;
    padding-right: 14px;
    
}

ul li:hover{
    cursor: pointer;
}

span i {
	float: right;
	padding: 0 5px;
}

.add{
	background: red;
	text-align: center;
	padding: 20px 0;
}

.add h5{
	color: white;
}

main .add .btn-group input.form-control{
	width: 400px;
}

ul li.xong{
	background: #888888;
	text-decoration:  line-through;
	color: white;
}
